// ==========================================================================
// Background
// ==========================================================================

/* Background color */
.u-bg-color-transparent { background-color: transparent; }
.u-bg-color-dark { background-color: #333; }
.u-bg-color-light { background-color: #fff; }		

/* Background position */
.u-bg-position-bottom { background-position: bottom; }
.u-bg-position-top { background-position: top; }
.u-bg-position-left { background-position: left; }
.u-bg-position-right { background-position: right; }
.u-bg-position-center { background-position: center; }

/* Background repeat */
.u-bg-repeat { background-repeat: repeat; }
.u-bg-no-repeat { background-repeat: no-repeat; }
.u-bg-repeat-x { background-repeat: repeat-x; }
.u-bg-repeat-y { background-repeat: repeat-y; }
.u-bg-repeat-round { background-repeat: round; }
.u-bg-repeat-space { background-repeat: space; }

/* Background size */
.u-bg-auto { background-size: auto; }
.u-bg-cover { background-size: cover; }
.u-bg-contain { background-size: contain; }