// ==========================================================================
// Background
// ==========================================================================

/* Background color */
.u-background-color-transparent { background-color: transparent; }
.u-background-color-dark { background-color: #333; }
.u-background-color-light { background-color: #fff; }		
.u-background-color-gray-100 { background-color: #f7fafc; }
.u-background-color-gray-200 { background-color: #edf2f7; }	
.u-background-color-gray-300 { background-color: #e2e8f0; }	
.u-background-color-gray-400 { background-color: #cbd5e0; }	
.u-background-color-gray-500 { background-color: #a0aec0; }	
.u-background-color-gray-600 { background-color: #718096; }	
.u-background-color-gray-700 { background-color: #4a5568; }	
.u-background-color-gray-800 { background-color: #2d3748; }	
.u-background-color-gray-900 { background-color: #1a202c; }	
.u-background-color-red-100 { background-color: #fff5f5; }	
.u-background-color-red-200 { background-color: #fed7d7; }	
.u-background-color-red-300 { background-color: #feb2b2; }	
.u-background-color-red-400 { background-color: #fc8181; }	
.u-background-color-red-500 { background-color: #f56565; }	
.u-background-color-red-600 { background-color: #e53e3e; }	
.u-background-color-red-700 { background-color: #c53030; }	
.u-background-color-red-800 { background-color: #9b2c2c; }	
.u-background-color-red-900 { background-color: #742a2a; }	
.u-background-color-orange-100 { background-color: #fffaf0; } 	
.u-background-color-orange-200 { background-color: #feebc8; }	
.u-background-color-orange-300 { background-color: #fbd38d; }	
.u-background-color-orange-400 { background-color: #f6ad55; }
.u-background-color-orange-500 { background-color: #ed8936; }	
.u-background-color-orange-600 { background-color: #dd6b20; }	
.u-background-color-orange-700 { background-color: #c05621; }	
.u-background-color-orange-800 { background-color: #9c4221; }	
.u-background-color-orange-900 { background-color: #7b341e; }	
.u-background-color-yellow-100 { background-color: #fffff0; }	
.u-background-color-yellow-200 { background-color: #fefcbf; }	
.u-background-color-yellow-300 { background-color: #faf089; }	
.u-background-color-yellow-400 { background-color: #f6e05e; }	
.u-background-color-yellow-500 { background-color: #ecc94b; }	
.u-background-color-yellow-600 { background-color: #d69e2e; }	
.u-background-color-yellow-700 { background-color: #b7791f; }	
.u-background-color-yellow-800 { background-color: #975a16; }	
.u-background-color-yellow-900 { background-color: #744210; }	
.u-background-color-green-100 {	background-color: #f0fff4; }	
.u-background-color-green-200 {	background-color: #c6f6d5; }	
.u-background-color-green-300 { background-color: #9ae6b4; }	
.u-background-color-green-400 {	background-color: #68d391; }	
.u-background-color-green-500 {	background-color: #48bb78; }	
.u-background-color-green-600 {	background-color: #38a169; }	
.u-background-color-green-700 {	background-color: #2f855a; }	
.u-background-color-green-800 {	background-color: #276749; }	
.u-background-color-green-900 {	background-color: #22543d; }	
.u-background-color-teal-100 { background-color: #e6fffa; }	
.u-background-color-teal-200 { background-color: #b2f5ea; }	
.u-background-color-teal-300 { background-color: #81e6d9; }	
.u-background-color-teal-400 { background-color: #4fd1c5; }	
.u-background-color-teal-500 { background-color: #38b2ac; }	
.u-background-color-teal-600 { background-color: #319795; }	
.u-background-color-teal-700 { background-color: #2c7a7b; }	
.u-background-color-teal-800 { background-color: #285e61; }	
.u-background-color-teal-900 { background-color: #234e52; }	
.u-background-color-blue-100 { background-color: #ebf8ff; }	
.u-background-color-blue-200 { background-color: #bee3f8; }	
.u-background-color-blue-300 { background-color: #90cdf4; }	
.u-background-color-blue-400 { background-color: #63b3ed; }	
.u-background-color-blue-500 { background-color: #4299e1; }	
.u-background-color-blue-600 { background-color: #3182ce; }	
.u-background-color-blue-700 { background-color: #2b6cb0; }	
.u-background-color-blue-800 { background-color: #2c5282; }	
.u-background-color-blue-900 { background-color: #2a4365; }	
.u-background-color-indigo-100 { background-color: #ebf4ff; } 	
.u-background-color-indigo-200 { background-color: #c3dafe; }	
.u-background-color-indigo-300 { background-color: #a3bffa; }	
.u-background-color-indigo-400 { background-color: #7f9cf5; }	
.u-background-color-indigo-500 { background-color: #667eea; }	
.u-background-color-indigo-600 { background-color: #5a67d8; }	
.u-background-color-indigo-700 { background-color: #4c51bf; }	
.u-background-color-indigo-800 { background-color: #434190; }	
.u-background-color-indigo-900 { background-color: #3c366b; }	
.u-background-color-purple-100 { background-color: #faf5ff; }
.u-background-color-purple-200 { background-color: #e9d8fd; }	
.u-background-color-purple-300 { background-color: #d6bcfa; }
.u-background-color-purple-400 { background-color: #b794f4; }	
.u-background-color-purple-500 { background-color: #9f7aea; }	
.u-background-color-purple-600 { background-color: #805ad5; }	
.u-background-color-purple-700 { background-color: #6b46c1; }	
.u-background-color-purple-800 { background-color: #553c9a; }	
.u-background-color-purple-900 { background-color: #44337a; }	
.u-background-color-pink-100 { background-color: #fff5f7; }	
.u-background-color-pink-200 { background-color: #fed7e2; }	
.u-background-color-pink-300 { background-color: #fbb6ce; }	
.u-background-color-pink-400 { background-color: #f687b3; }	
.u-background-color-pink-500 { background-color: #ed64a6; }	
.u-background-color-pink-600 { background-color: #d53f8c; }	
.u-background-color-pink-700 { background-color: #b83280; }	
.u-background-color-pink-800 { background-color: #97266d; }	
.u-background-color-pink-900 { background-color: #702459; }

/* Background position */
.u-background-position-bottom { background-position: bottom; }
.u-background-position-top { background-position: top; }
.u-background-position-left { background-position: left; }
.u-background-position-right { background-position: right; }
.u-background-position-center { background-position: center; }

/* Background repeat */
.u-background-repeat { background-repeat: repeat; }
.u-background-no-repeat { background-repeat: no-repeat; }
.u-background-repeat-x { background-repeat: repeat-x; }
.u-background-repeat-y { background-repeat: repeat-y; }
.u-background-repeat-round { background-repeat: round; }
.u-background-repeat-space { background-repeat: space; }

/* Background size */
.u-background-auto { background-size: auto; }
.u-background-cover { background-size: cover; }
.u-background-contain { background-size: contain; }