// ==========================================================================
// Border
// ==========================================================================

/* Border color */
.u-border-color-transparent { border-color: transparent; }
.u-border-color-dark { border-color: #000; }
.u-border-color-light {	border-color: #fff; }

/* Border style */
.u-border-style-solid {	border-style: solid; }
.u-border-style-dashed { border-style: dashed; }
.u-border-style-dotted { border-style: dotted; }
.u-border-style-none { border-style: none; }

/* Border radius */
.u-border-radius-none { border-radius: 0; }
.u-border-radius-full { border-radius: 9999px; }