// ==========================================================================
// Border
// ==========================================================================

/* Border color */
.u-border-color-transparent { border-color: transparent; }
.u-border-color-dark { border-color: #000; }
.u-border-color-light {	border-color: #fff; }
.u-border-color-gray-100 { border-color: #f7fafc; } 	
.u-border-color-gray-200 { border-color: #edf2f7; }
.u-border-color-gray-300 { border-color: #e2e8f0; }
.u-border-color-gray-400 { border-color: #cbd5e0; }	
.u-border-color-gray-500 { border-color: #a0aec0; }	
.u-border-color-gray-600 { border-color: #718096; }	
.u-border-color-gray-700 { border-color: #4a5568; }	
.u-border-color-gray-800 { border-color: #2d3748; }	
.u-border-color-gray-900 { border-color: #1a202c; }	
.u-border-color-red-100 {	border-color: #fff5f5; }	
.u-border-color-red-200 {	border-color: #fed7d7; }	
.u-border-color-red-300 { border-color: #feb2b2; }	
.u-border-color-red-400 {	border-color: #fc8181; }	
.u-border-color-red-500 {	border-color: #f56565; }	
.u-border-color-red-600 {	border-color: #e53e3e; }	
.u-border-color-red-700 {	border-color: #c53030; }	
.u-border-color-red-800 {	border-color: #9b2c2c; }	
.u-border-color-red-900 {	border-color: #742a2a; }	
.u-border-color-orange-100 { border-color: #fffaf0; } 	
.u-border-color-orange-200 { border-color: #feebc8; }	
.u-border-color-orange-300 { border-color: #fbd38d; }	
.u-border-color-orange-400 { border-color: #f6ad55; }	
.u-border-color-orange-500 { border-color: #ed8936; }	
.u-border-color-orange-600 { border-color: #dd6b20; }	
.u-border-color-orange-700 { border-color: #c05621; }	
.u-border-color-orange-800 { border-color: #9c4221; }	
.u-border-color-orange-900 { border-color: #7b341e; }
.u-border-color-yellow-100 { border-color: #fffff0; }	
.u-border-color-yellow-200 { border-color: #fefcbf; }	
.u-border-color-yellow-300 { border-color: #faf089; }	
.u-border-color-yellow-400 { border-color: #f6e05e; }	
.u-border-color-yellow-500 { border-color: #ecc94b; }	
.u-border-color-yellow-600 { border-color: #d69e2e; }	
.u-border-color-yellow-700 { border-color: #b7791f; }	
.u-border-color-yellow-800 { border-color: #975a16; }	
.u-border-color-yellow-900 { border-color: #744210; }	
.u-border-color-green-100 { border-color: #f0fff4; }	
.u-border-color-green-200 { border-color: #c6f6d5; }	
.u-border-color-green-300 { border-color: #9ae6b4; }	
.u-border-color-green-400 { border-color: #68d391; }	
.u-border-color-green-500 { border-color: #48bb78; }	
.u-border-color-green-600 {	border-color: #38a169; }	
.u-border-color-green-700 {	border-color: #2f855a; }	
.u-border-color-green-800 {	border-color: #276749; }	
.u-border-color-green-900 {	border-color: #22543d; }	
.u-border-color-teal-100 { border-color: #e6fffa; }	
.u-border-color-teal-200 { border-color: #b2f5ea; }
.u-border-color-teal-300 { border-color: #81e6d9; }	
.u-border-color-teal-400 { border-color: #4fd1c5; }	
.u-border-color-teal-500 { border-color: #38b2ac; }	
.u-border-color-teal-600 { border-color: #319795; }	
.u-border-color-teal-700 { border-color: #2c7a7b; }	
.u-border-color-teal-800 { border-color: #285e61; }	
.u-border-color-teal-900 { border-color: #234e52; }	
.u-border-color-blu.u-be-100 { border-color: #ebf8ff; }	
.u-border-color-blue-200 { border-color: #bee3f8; }	
.u-border-color-blue-300 { border-color: #90cdf4; }	
.u-border-color-blue-400 { border-color: #63b3ed; }	
.u-border-color-blue-500 { border-color: #4299e1; }	
.u-border-color-blue-600 { border-color: #3182ce; }	
.u-border-color-blue-700 { border-color: #2b6cb0; }	
.u-border-color-blue-800 { border-color: #2c5282; }	
.u-border-color-blue-900 { border-color: #2a4365; }	
.u-border-color-indigo-100 { border-color: #ebf4ff; } 	
.u-border-color-indigo-200 { border-color: #c3dafe; }	
.u-border-color-indigo-300 { border-color: #a3bffa; }	
.u-border-color-indigo-400 { border-color: #7f9cf5; }	
.u-border-color-indigo-500 { border-color: #667eea; }	
.u-border-color-indigo-600 { border-color: #5a67d8; }	
.u-border-color-indigo-700 { border-color: #4c51bf; }	
.u-border-color-indigo-800 { border-color: #434190; }	
.u-border-color-indigo-900 { border-color: #3c366b; }	
.u-border-color-purple-100 { border-color: #faf5ff; }	
.u-border-color-purple-200 { border-color: #e9d8fd; }	
.u-border-color-purple-300 { border-color: #d6bcfa; }	
.u-border-color-purple-400 { border-color: #b794f4; }	
.u-border-color-purple-500 { border-color: #9f7aea; }	
.u-border-color-purple-600 { border-color: #805ad5; }	
.u-border-color-purple-700 { border-color: #6b46c1; }	
.u-border-color-purple-800 { border-color: #553c9a; }	
.u-border-color-purple-900 { border-color: #44337a; }	
.u-border-color-pink-100 { border-color: #fff5f7; }	
.u-border-color-pink-200 { border-color: #fed7e2; }	
.u-border-color-pink-300 { border-color: #fbb6ce; }	
.u-border-color-pink-400 { border-color: #f687b3; }	
.u-border-color-pink-500 { border-color: #ed64a6; }	
.u-border-color-pink-600 { border-color: #d53f8c; }	
.u-border-color-pink-700 { border-color: #b83280; }	
.u-border-color-pink-800 { border-color: #97266d; }	
.u-border-color-pink-900 { border-color: #702459; }

/* Border style */
.u-border-style-solid {	border-style: solid; }
.u-border-style-dashed { border-style: dashed; }
.u-border-style-dotted { border-style: dotted; }
.u-border-style-none { border-style: none; }

/* Border radius */
.u-border-radius-none { border-radius: 0; }
.u-border-radius-full { border-radius: 9999px; }