// ==========================================================================
// Color
// ==========================================================================

/* Colors */
.u-color-dark { color: #333; }
.u-color-light { color: #fff; }		
.u-color-gray-100 { color: #f7fafc; }
.u-color-gray-200 { color: #edf2f7; }	
.u-color-gray-300 { color: #e2e8f0; }	
.u-color-gray-400 { color: #cbd5e0; }	
.u-color-gray-500 { color: #a0aec0; }	
.u-color-gray-600 { color: #718096; }	
.u-color-gray-700 { color: #4a5568; }	
.u-color-gray-800 { color: #2d3748; }	
.u-color-gray-900 { color: #1a202c; }	
.u-color-red-100 { color: #fff5f5; }	
.u-color-red-200 { color: #fed7d7; }	
.u-color-red-300 { color: #feb2b2; }	
.u-color-red-400 { color: #fc8181; }	
.u-color-red-500 { color: #f56565; }	
.u-color-red-600 { color: #e53e3e; }	
.u-color-red-700 { color: #c53030; }	
.u-color-red-800 { color: #9b2c2c; }	
.u-color-red-900 { color: #742a2a; }	
.u-color-orange-100 { color: #fffaf0; } 	
.u-color-orange-200 { color: #feebc8; }	
.u-color-orange-300 { color: #fbd38d; }	
.u-color-orange-400 { color: #f6ad55; }
.u-color-orange-500 { color: #ed8936; }	
.u-color-orange-600 { color: #dd6b20; }	
.u-color-orange-700 { color: #c05621; }	
.u-color-orange-800 { color: #9c4221; }	
.u-color-orange-900 { color: #7b341e; }	
.u-color-yellow-100 { color: #fffff0; }	
.u-color-yellow-200 { color: #fefcbf; }	
.u-color-yellow-300 { color: #faf089; }	
.u-color-yellow-400 { color: #f6e05e; }	
.u-color-yellow-500 { color: #ecc94b; }	
.u-color-yellow-600 { color: #d69e2e; }	
.u-color-yellow-700 { color: #b7791f; }	
.u-color-yellow-800 { color: #975a16; }	
.u-color-yellow-900 { color: #744210; }	
.u-color-green-100 { color: #f0fff4; }	
.u-color-green-200 { color: #c6f6d5; }	
.u-color-green-300 { color: #9ae6b4; }	
.u-color-green-400 { color: #68d391; }	
.u-color-green-500 { color: #48bb78; }	
.u-color-green-600 { color: #38a169; }	
.u-color-green-700 { color: #2f855a; }	
.u-color-green-800 { color: #276749; }	
.u-color-green-900 { color: #22543d; }	
.u-color-teal-100 { color: #e6fffa; }	
.u-color-teal-200 { color: #b2f5ea; }	
.u-color-teal-300 { color: #81e6d9; }	
.u-color-teal-400 { color: #4fd1c5; }	
.u-color-teal-500 { color: #38b2ac; }	
.u-color-teal-600 { color: #319795; }	
.u-color-teal-700 { color: #2c7a7b; }	
.u-color-teal-800 { color: #285e61; }	
.u-color-teal-900 { color: #234e52; }	
.u-color-blue-100 { color: #ebf8ff; }	
.u-color-blue-200 { color: #bee3f8; }	
.u-color-blue-300 { color: #90cdf4; }	
.u-color-blue-400 { color: #63b3ed; }	
.u-color-blue-500 { color: #4299e1; }	
.u-color-blue-600 { color: #3182ce; }	
.u-color-blue-700 { color: #2b6cb0; }	
.u-color-blue-800 { color: #2c5282; }	
.u-color-blue-900 { color: #2a4365; }	
.u-color-indigo-100 { color: #ebf4ff; } 	
.u-color-indigo-200 { color: #c3dafe; }	
.u-color-indigo-300 { color: #a3bffa; }	
.u-color-indigo-400 { color: #7f9cf5; }	
.u-color-indigo-500 { color: #667eea; }	
.u-color-indigo-600 { color: #5a67d8; }	
.u-color-indigo-700 { color: #4c51bf; }	
.u-color-indigo-800 { color: #434190; }	
.u-color-indigo-900 { color: #3c366b; }	
.u-color-purple-100 { color: #faf5ff; }
.u-color-purple-200 { color: #e9d8fd; }	
.u-color-purple-300 { color: #d6bcfa; }
.u-color-purple-400 { color: #b794f4; }	
.u-color-purple-500 { color: #9f7aea; }	
.u-color-purple-600 { color: #805ad5; }	
.u-color-purple-700 { color: #6b46c1; }	
.u-color-purple-800 { color: #553c9a; }	
.u-color-purple-900 { color: #44337a; }	
.u-color-pink-100 { color: #fff5f7; }	
.u-color-pink-200 { color: #fed7e2; }	
.u-color-pink-300 { color: #fbb6ce; }	
.u-color-pink-400 { color: #f687b3; }	
.u-color-pink-500 { color: #ed64a6; }	
.u-color-pink-600 { color: #d53f8c; }	
.u-color-pink-700 { color: #b83280; }	
.u-color-pink-800 { color: #97266d; }	
.u-color-pink-900 { color: #702459; }