// ==========================================================================
// Cursor
// ==========================================================================

.u-cursor-auto { cursor: auto; }
.u-cursor-default { cursor: default; }
.u-cursor-pointer {	cursor: pointer; }
.u-cursor-wait { cursor: wait; }
.u-cursor-text { cursor: text; }
.u-cursor-move { cursor: move; }
.u-cursor-not-allowed { cursor: not-allowed; }