// ==========================================================================
// Display
// ==========================================================================

.u-display-flex { display: flex; }
.u-display-block { display: block; }
.u-display-table { display: table; }
.u-display-grid { display: grid; }
.u-display-contents { display: contents; }
.u-display-initial { display: initial; }
.u-display-inherit { display: inherit; }
.u-display-none { display: none; }

.u-display-inline { display: inline; }
.u-display-inline-block { display: inline-block; }
.u-display-inline-flex { display: inline-flex; }
.u-display-inline-table { display: inline-table; }
.u-display-inline-grid { display: inline-grid; }