// ==========================================================================
// Flexbox
// ==========================================================================

.u-flex-direction-row { flex-direction: row; }
.u-flex-direction-column { flex-direction: column; }

.u-flex-wrap-wrap { flex-wrap: wrap; }
.u-flex-wrap-reverse { flex-wrap: wrap-reverse; }
.u-flex-wrap-nowrap { flex-wrap: nowrap; }

.u-flex-align-items-center { align-items: center; }
.u-flex-align-items-start { align-items: flex-start; }
.u-flex-align-items-end { align-items: flex-end; }
.u-flex-align-items-stretch { align-items: stretch; }
.u-flex-align-items-baseline { align-items: baseline; }

.u-flex-justify-content-center { justify-content: center; }
.u-flex-justify-content-start { justify-content: flex-start; }
.u-flex-justify-content-end { justify-content: flex-end; }
.u-flex-justify-content-around { justify-content: space-around; }
.u-flex-justify-content-between { justify-content: space-between; }

.u-flex-total-centered { justify-content: center; align-content: center; }