// ==========================================================================
// Font
// ==========================================================================

.u-bold { font-weight: bold; }
.u-no-bold { font-weight: normal; }
.u-italic { font-style: italic; }
.u-no-italic { font-style: normal; }