// ==========================================================================
// Resize
// ==========================================================================

.u-resize-none { resize: none; }
.u-resize { resize: both; }
.u-resize-y { resize: vertical; }
.u-resize-x { resize: horizontal; }