// ==========================================================================
// Sizing
// ==========================================================================

.u-width-5 { width: 5%; }
.u-width-10 { width: 10%; }
.u-width-15 { width: 15%; }
.u-width-20 { width: 20%; }
.u-width-25 { width: 25%; }
.u-width-30 { width: 30%; }
.u-width-35 { width: 35%; }
.u-width-40 { width: 40%; }
.u-width-45 { width: 45%; }
.u-width-50 { width: 50%; }
.u-width-55 { width: 55%; }
.u-width-60 { width: 60%; }
.u-width-65 { width: 65%; }
.u-width-70 { width: 70%; }
.u-width-75 { width: 75%; }
.u-width-80 { width: 80%; }
.u-width-85 { width: 85%; }
.u-width-90 { width: 90%; }
.u-width-95 { width: 95%; }

.u-width-auto { width: auto; }
.u-width-full { width: 100%; }
.u-width-screen { width: 100vw; }

.u-min-width-0 { min-width: 0; }
.u-min-width-full { min-width: 100%; }
.u-max-width-0 { max-width: 0; }
.u-max-width-full { max-width: 100%; }

.u-height-0 { height: 0; }
.u-height-1 { height: 0.25rem; }
.u-height-2 { height: 0.5rem; }
.u-height-3 { height: 0.75rem; }
.u-height-4 { height: 1rem; }
.u-height-5 { height: 1.25rem; }
.u-height-6 { height: 1.5rem; }
.u-height-8 { height: 2rem; }
.u-height-10 { height: 2.5rem; }
.u-height-12 { height: 3rem; }
.u-height-16 { height: 4rem; }
.u-height-20 { height: 5rem; }
.u-height-24 { height: 6rem; }
.u-height-32 { height: 8rem; }
.u-height-40 { height: 10rem; }
.u-height-48 { height: 12rem; }
.u-height-56 { height: 14rem; }
.u-height-64 { height: 16rem; }

.u-height-auto {height: auto; }
.u-height-full { height: 100%; }
.u-height-screen { height: 100vh; }

.u-min-height-0 { min-height: 0; }
.u-min-height-full { min-height: 100%; }
.u-max-height-0 { max-height: 0; }
.u-max-height-full { max-height: 100%; }