// ==========================================================================
// User Select
// ==========================================================================

.u-select-none { user-select: none; }
.u-select-text { user-select: text; }
.u-select-all { user-select: all; }
.u-select-auto { user-select: auto; }